[submodule "blockify"]
	path = blockify
	url = git@github.com:fusion809/blockify
[submodule "gvim-git"]
	path = gvim-git
	url = git@github.com:fusion809/gvim-git
[submodule "gvim"]
	path = gvim
	url = git@github.com:fusion809/gvim
[submodule "gvim-gtk3"]
	path = gvim-gtk3
	url = https://github.com/fusion809/gvim-gtk3
[submodule "github-release"]
	path = github-release
	url = git://github.com/fusion809/github-release.git
[submodule "gothub"]
	path = gothub
	url = git://github.com/fusion809/gothub.git
[submodule "kilo-git"]
	path = kilo-git
	url = git://github.com/fusion809/kilo-git.git
[submodule "gvim-gtk2"]
	path = gvim-gtk2
	url = git://github.com/fusion809/gvim-gtk2.git
