[submodule "atom-editor"]
	path = atom-editor
	url = https://github.com/fusion809/atom-editor
[submodule "atom-editor-beta"]
	path = atom-editor-beta
	url = https://github.com/fusion809/atom-editor-beta
[submodule "atom-editor-fusion"]
	path = atom-editor-fusion
	url = https://github.com/fusion809/atom-editor-fusion
[submodule "atom-editor-git"]
	path = atom-editor-git
	url = https://github.com/fusion809/atom-editor-git
[submodule "atom-editor-platformio"]
	path = atom-editor-platformio
	url = https://github.com/fusion809/atom-editor-platformio
